.find-me {
  display: flex;
}
.find-me li {
  list-style: none;
  padding-right: 2em;
}
body {
  padding: 0;
  margin: 0;
}
.scroll {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  background-color: #c0392b;
}
